<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="assets/premier_league.png" height="300px" alt="Premier League Logo" class="activator" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Premier League<i class="material-icons right">more_vert</i></span
          >
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Premier League<i class="material-icons right">close</i></span
          >
          <div class="collection">
            <a href="#fixture?id=2021" class="collection-item">Standing</a>
            <a href="#result?id=2021" class="collection-item">Results</a>
            <a href="#scorers?id=2021" class="collection-item">Scorers</a>
            <a href="#upcoming?id=2021" class="collection-item">Upcoming Matches</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="assets/primera_division.png" height="300px" alt="Primera Division Logo" class="activator" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Primera Division<i class="material-icons right">more_vert</i></span
          >
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Primera Division<i class="material-icons right">close</i></span
          >
          <div class="collection">
            <a href="#fixture?id=2014" class="collection-item">Standing</a>
            <a href="#result?id=2014" class="collection-item">Results</a>
            <a href="#scorers?id=2014" class="collection-item">Scorers</a>
            <a href="#upcoming?id=2014" class="collection-item">Upcoming Matches</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="assets/bundesliga.png" height="300px" alt="Bundesliga Logo" class="activator" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Bundesliga<i class="material-icons right">more_vert</i></span
          >
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Bundesliga<i class="material-icons right">close</i></span
          >
          <div class="collection">
            <a href="#fixture?id=2002" class="collection-item">Standing</a>
            <a href="#result?id=2002" class="collection-item">Results</a>
            <a href="#scorers?id=2002" class="collection-item">Scorers</a>
            <a href="#upcoming?id=2002" class="collection-item">Upcoming Matches</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
