<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div id="fav-matches" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="assets/logo.jpg" alt="Scheduled Match" class="activator" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Scheduled Match<i class="material-icons right">more_vert</i></span
          >
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Scheduled Match<i class="material-icons right">close</i></span
          >
          <div class="row">
            <div class="col s12 progress">
              <div class="indeterminate"></div>
            </div>
          </div>
          <ul class="collection">
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div id="fav-teams" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="assets/star.jpg" alt="Favorites" class="activator" />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Favorite Teams<i class="material-icons right">more_vert</i></span
          >
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Favorite Teams<i class="material-icons right">close</i></span
          >
          <div class="row">
            <div class="col s12 progress">
              <div class="indeterminate"></div>
            </div>
          </div>
          <ul class="collection">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
